= form_for @garment do |f|
  - if @garment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@garment.errors.count, "error")} prohibited this garment from being saved:"
      %ul
        - @garment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :kind
    = f.text_field :kind
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :sizes
    = f.text_field :sizes
  .field
    = f.label :collection
    = f.text_field :collection
  .actions
    = f.submit 'Save'
