%h1 Listing garments

%table.table
  %thead
    %tr
      %th Name
      %th Kind
      %th Description
      %th Latest
      %th Size
      %th Collection
      %th
      %th
      %th

  %tbody
    - @garments.each do |garment|
      %tr
        %td= garment.name
        %td= garment.kind
        %td= garment.description
        %td= garment.latest
        %td= garment.sizes
        %td= garment.collection
        %td= link_to 'Show', garment
        %td= link_to 'Edit', edit_garment_path(garment)
        %td= link_to 'Destroy', garment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Garment', new_garment_path
