= render partial: 'collections/links'

.row.info
  .col-md-6
    .garment
      = image_tag(@garment.image_url)
  .col-md-6
    .content
      %h2.title
        = @garment.name
      %p.description
        = @garment.description
      %p.description
        = @garment.kind
      / %p
      /   = @garment.sizes
      %h2.rojo Consiguelo
