= render :partial => 'carousel'

= link_to 'Ropa',visitors_collection_path(garment_type: 'ropa')
= link_to 'Bisuteria',visitors_collection_path(garment_type: 'bisuteria')
= link_to 'Bolsas',visitors_collection_path(garment_type: 'bolsas')


- @garments.each do |garment|
  = render partial: 'garment',locals:{ garment: garment}