%h1 Carousels

%table.table
  %thead
    %tr
      %th Url
      %th Title
      %th Message
      %th
      %th

  %tbody
    - @carousel.pictures.each do |picture|
      %tr
        %td= picture.url
        %td= picture.title
        %td= picture.message
        %td= link_to 'Edit', edit_picture_path(picture)
        %td= link_to 'Destroy', picture, :method => :delete, :data => { :confirm => 'Are you sure?' }


%br

= link_to 'New Picture', new_picture_path

