%h1 Listing carousels

%table
  %thead
    %tr
      %th Url
      %th Title
      %th Message
      %th
      %th
      %th

  %tbody
    - @carousels.each do |carousel|
      %tr
        %td= carousel.url
        %td= carousel.title
        %td= carousel.message
        %td= link_to 'Show', carousel
        %td= link_to 'Edit', edit_carousel_path(carousel)
        %td= link_to 'Destroy', carousel, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Carousel', new_carousel_path
