%p#notice= notice

%p
  %b Name:
  = @collection.name
%p
  %b Description:
  = @collection.description

= link_to 'Edit', edit_admin_collection_path(@collection)
\|
= link_to 'Back', admin_collections_path
