.navbar.navbar-inverse.navbar-static-top
  .container
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to root_path, class: 'navbar-brand' do
      = image_tag "logo-h.png", class: 'img-responsive2'
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav.pull-right
        %li
          = link_to "Inicio", root_path
        %li
          = link_to 'Somos', root_path(anchor: 'quienes')
        %li
          = link_to "Catálogo", garments_path
        %li
          = link_to "Contacto", '#contacto'
